/Exercicio02/nbproject/private/
/Exercicio01/build/
/Exercicio02/build/
/Exercicio05/nbproject/private/
/Exercicio05/build/
/Exercicio04/nbproject/private/
/Exercicio04/build/
/Exercicio03/nbproject/private/
/Exercicio03/build/
